<div class='country-info__container'>
      <img src= {{flags.svg}} alt="Flag country" width=40px>
      <h1 class = 'country-info__title'>{{name.official}}</h1>
</div>
<p class = 'country-info__item'>Capital:<span class='country-info__data'>{{capital}}</span></p>
<p class = 'country-info__item'>Population:<span class='country-info__data'>{{population}}</span></p>  
<p class = 'country-info__item'>Language:<span class='country-info__data'>{{languages}}</span></p>

